<!-- Showing defects and filter  -->
{% extends "jkk/base.html" %}

{% block title %} Home - JKK {% endblock %}

{% load static %}
{% load bootstrap %}
{% block content %}

<div class="row">


    <div class="col-md-12s col-lg-7">

        <h2 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-muted">Lexus RX - Sealer - JKK </span>
            <!-- <span class="badge bg-secondary rounded-pill">3</span> -->
        </h2>
    </div>

</div>

<div class="row">

    <h4>
        Select Process to perform JKK
    </h4>
    
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
    
        <div class="col-2">
        {{ form|bootstrap }}
        </div>
        <p></p>
        <div class="col">
        <button type="submit" class="btn btn-primary">Create</button>
        </div>
    </form>

</div>


{% endblock %}
